@font-face {
  font-family: "MP";
  font-weight: 400;
  src: url("../fonts/mpl.woff") format("woff");
}

@font-face {
  font-family: "MP";
  font-weight: bold;
  src: url("../fonts/mpr.woff") format("woff");
}

@font-face {
  font-family: "A";
  font-weight: 400;
  src: url("../fonts/abc.woff") format("woff");
}

html {
  color: #1d1d1d;
  background-color: #fff;
  font-family: "MP", sans-serif;
  font-size: 20px;
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 1560px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1559.98px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1199.98px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1023.98px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 359.98px) {
  html {
    font-size: 14px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.4;
}

@media (max-width: 767.98px) {
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}

::-moz-selection {
  background: #1d1d1d;
  color: #fff;
}

::selection {
  background: #1d1d1d;
  color: #fff;
}

::-moz-selection {
  background: #1d1d1d;
  color: #fff;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  margin-bottom: 1.2em;
}

b,
strong {
  font-weight: bold;
}

#loader {
  position: fixed;
  background: #fffaf5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-100 {
  width: 100%;
}

.col-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

img.arrow-down {
  width: 1rem;
  height: auto;
}

.scroll-down {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll-down img {
  margin: 0 auto;
  display: block;
  -webkit-animation: bounce 0.75s infinite ease-in-out alternate;
  animation: bounce 0.75s infinite ease-in-out alternate;
}

.scroll-down span {
  display: block;
  margin-top: 0.5rem;
}

@-webkit-keyframes bounce {
  100% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes bounce {
  100% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #1d1d1d;
}

.color-orange {
  color: #ff490d;
}

b {
  font-weight: bold !important;
}

.text-size-normal {
  font-size: 1rem;
}

.text-size-big {
  font-size: 1.85rem;
  line-height: 1.1;
}

.text-menu {
  font-size: 0.85rem;
  line-height: 1;
  text-transform: uppercase;
}

.text-large {
  font-size: 1.85rem;
  line-height: 1.1;
}

@media (max-width: 767.98px) {
  .text-large {
    font-size: 1.7rem;
    line-height: 1.1;
  }
}

@media (max-width: 575.98px) {
  .text-large {
    font-size: 1.5rem;
    line-height: 1.1;
  }
}

.text-hero {
  font-family: "A", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #ff490d;
  line-height: 1.1;
}

@media (max-width: 767.98px) {
  .text-hero {
    font-size: 3.25rem !important;
  }

  .text-hero br {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .text-hero {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

.text-highlight-small {
  text-align: center;
  line-height: 1;
  font-family: "A", sans-serif;
  font-size: 0.85rem;
  color: #ff490d;
  text-transform: uppercase;
}

.text-title {
  font-size: 1.85rem;
  display: inline-block;
  position: relative;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.text-title span {
  position: relative;
  display: inline;
  border-bottom: 2px solid #ff490d;
  line-height: 1.2;
}

.text-title.align-center {
  margin-left: auto;
  margin-right: auto;
}

.text-title + .text-subtitle {
  margin-top: 1.5rem;
}

@media (max-width: 767.98px) {
  .text-title {
    font-size: 1.7rem;
    line-height: 1.2;
  }

  .text-title span {
    line-height: 1.2;
  }

  .text-title br {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .text-title {
    font-size: 1.5rem;
    line-height: 1;
  }
}

.text-subtitle {
  font-size: 1.4rem;
  line-height: 1.2;
  max-width: 33rem;
}

.text-subtitle + p {
  margin-top: 2rem;
}

.text-subtitle + .button {
  margin-top: 2.5rem;
}

@media (max-width: 767.98px) {
  .text-subtitle br {
    display: none;
  }
}

.text-underline-pseudo {
  position: relative;
  display: inline-block;
}

.text-underline-pseudo:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 1rem;
  left: 0;
  bottom: -0.15em;
  background: #ff490d;
}

.button,
.af-submit-button {
  margin-top: 1.5rem;
  color: #fff;
  display: inline-block;
  background-color: #ff490d;
  font-size: 0.95em;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  text-align: center;
  box-shadow: 0px 0px 1.25rem 0px rgba(29, 29, 29, 0.1);
  line-height: 1;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover,
.af-submit-button:hover {
  background-color: #ff4103;
}

.button.button-secondary,
.af-submit-button.button-secondary {
  color: #ff490d;
  background-color: #fffaf5;
  border: 1px solid #ff490d;
}

.button.button-secondary:hover,
.af-submit-button.button-secondary:hover {
  background-color: #fff5eb;
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 100000;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #ff490d;
  border-radius: 2rem;
  pointer-events: none !important;
}

#cursor img {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 1.5rem;
  max-width: 1.5rem;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0, 0, 1.75);
  transition: all 0.6s cubic-bezier(0.5, 0, 0, 1.75);
}

#cursor.is-hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#cursor.is-hidden {
  display: none;
}

body:not(#tinymce) {
  cursor: none;
}

body:not(#tinymce) .cursor-hover {
  cursor: none;
}

@media (max-width: 1199.98px) {
  body:not(#tinymce) {
    cursor: initial;
  }

  body:not(#tinymce) #cursor {
    display: none !important;
  }
}

.block {
  position: relative;
  width: 100%;
  display: block;
}

.block.block-width-25 {
  width: 25%;
}

.block.block-width-33 {
  width: 33.33%;
}

.block.block-width-50 {
  width: 50%;
}

.block.block-width-66 {
  width: 66.66%;
}

.block.block-width-75 {
  width: 75%;
}

.block.block-width-100 {
  width: 100%;
}

.block.padding-left-normal {
  padding-left: 0.8rem;
}

.block.padding-left-none {
  padding-left: 0;
}

.block.padding-right-normal {
  padding-right: 0.8rem;
}

.block.padding-right-none {
  padding-right: 0;
}

.block.padding-top-normal {
  padding-top: 0.8rem;
}

.block.padding-top-none {
  padding-top: 0;
}

.block.padding-bottom-normal {
  padding-bottom: 0.8rem;
}

.block.padding-bottom-none {
  padding-bottom: 0;
}

.block.margin-top-normal {
  margin-top: 2rem;
}

.block.margin-top-none {
  margin-top: 0;
}

.block.margin-top-double {
  margin-top: 6rem;
}

.block.margin-top-half {
  margin-top: 1rem;
}

.block.margin-top-auto {
  margin-top: auto;
}

.block.margin-bottom-normal {
  margin-bottom: 2rem;
}

.block.margin-bottom-none {
  margin-bottom: 0;
}

.block.margin-bottom-double {
  margin-bottom: 6rem;
}

.block.margin-bottom-half {
  margin-bottom: 1rem;
}

.block.margin-bottom-auto {
  margin-bottom: auto;
}

.block-scroll-down {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}

.block-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.block-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

.max-width-large {
  max-width: 1260px;
}

@media (max-width: 1023.98px) {
  .max-width-large {
    max-width: calc(100% - 4rem);
  }
}

@media (max-width: 767.98px) {
  .max-width-large {
    max-width: calc(100% - 3rem);
  }
}

@media (max-width: 359.98px) {
  .max-width-large {
    max-width: calc(100% - 1.5rem);
  }
}

.max-width-xlarge,
.footer .footer-container {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .max-width-xlarge,
  .footer .footer-container {
    max-width: calc(100% - 2rem);
  }
}

.max-width {
  max-width: 900px;
}

@media (max-width: 1023.98px) {
  .max-width {
    max-width: calc(100% - 4rem);
  }
}

@media (max-width: 767.98px) {
  .max-width {
    max-width: calc(100% - 2rem);
  }
}

.max-width-sm {
  max-width: 700px;
}

@media (max-width: 1023.98px) {
  .max-width-sm {
    max-width: 400px;
  }
}

@media (max-width: 767.98px) {
  .max-width-sm {
    max-width: calc(100% - 3rem);
  }
}

.block-hero {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  background: #fffaf5;
}

.block-hero .block-hero-container-left {
  width: 50%;
  height: 100%;
  position: relative;
}

.block-hero .block-hero-container-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.block-hero .block-hero-container-left:after {
  content: "";
  width: 55%;
  height: 10rem;
  position: absolute;
  top: 25%;
  right: -25%;
  background-image: url("../images/line-3.svg");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
  .block-hero .block-hero-container-left {
    position: absolute;
    width: 100%;
  }

  .block-hero .block-hero-container-left img {
    -webkit-filter: brightness(80%) saturate(0.7);
    filter: brightness(80%) saturate(0.7);
  }
}

.block-hero .block-hero-container-right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 100%;
}

@media (max-width: 767.98px) {
  .block-hero .block-hero-container-right {
    width: 100%;
    background: -webkit-radial-gradient(
      center,
      ellipse,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 50%
    );
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 50%
    );
  }
}

.block-hero .block-hero-container-right .block-content {
  width: 100%;
  height: 100%;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 1023.98px) {
  .block-hero .block-hero-container-right .block-content {
    width: calc(100% - 3rem);
    max-width: unset;
  }
}

@media (max-width: 767.98px) {
  .block-hero .block-hero-container-right .block-content {
    width: calc(100% - 1rem);
    max-width: unset;
  }
}

.block-hero .block-hero-container-right .block-content h1 {
  position: relative;
}

.block-hero .block-hero-container-right .block-content h1:after {
  content: "";
  width: 33.33%;
  height: 2rem;
  position: absolute;
  bottom: -3rem;
  left: 33.33%;
  background-image: url("../images/line-1.svg");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.block-hero .block-hero-container-right .scroll-down {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

.block-section-bg {
  width: 100%;
  background-color: #fffaf5;
}

.block-container-section-bg {
  display: -webkit-box;
  display: flex;
  width: calc(100% - 6rem);
}

@media (max-width: 1023.98px) {
  .block-container-section-bg {
    width: calc(100% - 4rem);
  }
}

@media (max-width: 767.98px) {
  .block-container-section-bg {
    width: calc(100% - 3rem);
  }
}

.block-container-section-bg .block-left {
  width: 50%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media (max-width: 767.98px) {
  .block-container-section-bg .block-left {
    width: calc(100% - 5rem);
    z-index: 10;
  }
}

.block-container-section-bg .block-right {
  position: relative;
  width: 50%;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .block-container-section-bg .block-right {
    position: absolute;
    top: 0;
    right: -10%;
    height: 100%;
  }
}

.block-container-section-bg .block-content {
  max-width: 33rem;
}

.block-container-section-bg .block-section-bg-image {
  width: 100%;
  max-width: 26rem;
  position: absolute;
  bottom: -2rem;
  right: 0;
}

.block-container-section-bg .block-section-bg-image img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.block-container-section-bg .block-section-bg-image.bg-image-vertical {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .block-container-section-bg .block-section-bg-image {
    max-width: unset;
    bottom: 0rem;
  }

  .block-container-section-bg .block-section-bg-image img {
    height: 100%;
    width: 200%;
    -o-object-fit: contain;
    object-fit: contain;
    max-width: unset;
    -o-object-position: center bottom;
    object-position: center bottom;
  }
}

.block-container-section-bg p.text-normal {
  max-width: 27rem;
}

.block-section-normal {
  background: #fff;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.block-section-normal .block-content-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

@media (max-width: 767.98px) {
  .block-section-normal .block-content-top {
    padding-left: 0;
    padding-right: 0;
  }
}

.block-section-normal .block-content-bottom {
  padding-bottom: 6rem;
}

.block-container-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.block-content-specs {
  margin-top: 8rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 767.98px) {
  .block-content-specs {
    margin-top: 6rem;
  }
}

.block-content-specs .specs-container {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 1023.98px) {
  .block-content-specs .specs-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 767.98px) {
  .block-content-specs .specs-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.block-content-specs .specs-container .specs-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 33.33%;
  padding: 0 1rem;
  margin-bottom: 4rem;
}

@media (max-width: 767.98px) {
  .block-content-specs .specs-container .specs-item {
    width: 100%;
    margin-bottom: 3rem;
    padding: 0;
  }
}

.block-content-specs .specs-container .specs-item .specs-item-image {
  margin-bottom: 2rem;
}

@media (max-width: 767.98px) {
  .block-content-specs .specs-container .specs-item .specs-item-image {
    margin-bottom: 1.5rem;
  }
}

.block-content-specs .specs-container .specs-item .specs-item-image img {
  width: 100%;
  max-width: 15rem;
}

.block-content-specs .specs-container .specs-item .specs-item-title {
  font-weight: bold;
  color: #ff490d;
  text-align: center;
  margin-bottom: 1rem;
}

.block-content-specs .specs-container .specs-item .specs-item-description {
  text-align: center;
  margin-bottom: 0.75rem;
  margin-bottom: 1.5rem;
}

.block-full-image {
  width: 100%;
  height: auto;
}

.block-full-image .block-background {
  position: relative;
  width: 100%;
}

.block-full-image .block-background img {
  width: 100%;
  height: auto;
  max-height: 60vh;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 1023.98px) {
  .block-full-image .block-background img {
    min-height: 40vh;
  }
}

.block-full-image .block-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}

@media (max-width: 1023.98px) {
  .block-full-image .block-content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 767.98px) {
  .block-full-image .block-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.block-full-image .block-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.block-content-partners {
  margin-top: 5rem;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.block-content-partners .partners-container {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1023.98px) {
  .block-content-partners .partners-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 767.98px) {
  .block-content-partners .partners-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.block-content-partners .partners-container .partners-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 33.33%;
  padding: 0 2rem;
  margin-bottom: 6rem;
}

@media (max-width: 767.98px) {
  .block-content-partners .partners-container .partners-item {
    width: 100%;
    margin-bottom: 3rem;
    padding: 0 1rem;
  }
}

.block-content-partners
  .partners-container
  .partners-item
  .partners-item-image {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1.5rem;
  height: 6rem;
}

@media (max-width: 1023.98px) {
  .block-content-partners
    .partners-container
    .partners-item
    .partners-item-image {
    margin-bottom: 1rem;
  }
}

.block-content-partners
  .partners-container
  .partners-item
  .partners-item-image
  img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.block-content-partners
  .partners-container
  .partners-item
  .partners-item-title {
  font-weight: bold;
  color: #ff490d;
  text-align: center;
  margin-bottom: 1rem;
}

.block-content-partners
  .partners-container
  .partners-item
  .partners-item-description {
  text-align: center;
  margin-bottom: 0.75rem;
  margin-bottom: 1.5rem;
}

ol.steps-list {
  list-style-type: none;
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-top: 1.5rem;
  counter-reset: li-counter;
}

ol.steps-list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.25em;
}

ol.steps-list li:before {
  position: absolute;
  top: 0.1em;
  padding-top: 0.125em;
  left: -2em;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ff490d;
  background: transparent;
  border: 1px solid #ff490d;
  border-radius: 2rem;
  text-align: center;
  content: counter(li-counter);
  counter-increment: li-counter;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

ol.steps-list li:hover:before {
  background: #ff490d;
  color: #fff;
}

.button.button-apply {
  margin-top: 2rem;
}

.block-form {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.block-form .form-container {
  margin: 0 auto;
  position: relative;
  margin-bottom: 8rem;
}

.block-form .form-container:after {
  content: "";
  width: 33.33%;
  height: 2rem;
  position: absolute;
  bottom: -3rem;
  left: 33.33%;
  background-image: url("../images/line-1.svg");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.block-form .block-content {
  padding-bottom: 4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.af-success {
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

.af-success img {
  width: 3rem;
  height: auto;
  margin-bottom: 1rem;
}

.block-what-we-offer {
  margin-bottom: 0;
}

/* .block-what-we-offer .block-container {
  margin-bottom: 0;
}

.block-legal {
  background: #fffaf5;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.block-legal .legal-back {
  display: block;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;
  align-self: flex-start;
}

.block-legal .legal-container {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.block-legal .legal-container h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

body.page-template-template-legal .header-container {
  -webkit-box-pack: center;
  justify-content: center;
}

body.page-template-template-legal .header-menu {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 100;
}

@media (max-width: 767.98px) {
  .header {
    padding: 1rem;
  }
}

.header .header-background {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 6rem);
  width: 100%;
  z-index: -1;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fffaf5),
    color-stop(19%, rgba(255, 250, 245, 0.738)),
    color-stop(34%, rgba(255, 250, 245, 0.541)),
    color-stop(47%, rgba(255, 250, 245, 0.382)),
    color-stop(56.5%, rgba(255, 250, 245, 0.278)),
    color-stop(65%, rgba(255, 250, 245, 0.194)),
    color-stop(73%, rgba(255, 250, 245, 0.126)),
    color-stop(80.2%, rgba(255, 250, 245, 0.075)),
    color-stop(86.1%, rgba(255, 250, 245, 0.042)),
    color-stop(91%, rgba(255, 250, 245, 0.021)),
    color-stop(95.2%, rgba(255, 250, 245, 0.008)),
    color-stop(98.2%, rgba(255, 250, 245, 0.002)),
    to(rgba(255, 250, 245, 0))
  );
  background: -webkit-linear-gradient(
    top,
    #fffaf5 0%,
    rgba(255, 250, 245, 0.738) 19%,
    rgba(255, 250, 245, 0.541) 34%,
    rgba(255, 250, 245, 0.382) 47%,
    rgba(255, 250, 245, 0.278) 56.5%,
    rgba(255, 250, 245, 0.194) 65%,
    rgba(255, 250, 245, 0.126) 73%,
    rgba(255, 250, 245, 0.075) 80.2%,
    rgba(255, 250, 245, 0.042) 86.1%,
    rgba(255, 250, 245, 0.021) 91%,
    rgba(255, 250, 245, 0.008) 95.2%,
    rgba(255, 250, 245, 0.002) 98.2%,
    rgba(255, 250, 245, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    #fffaf5 0%,
    rgba(255, 250, 245, 0.738) 19%,
    rgba(255, 250, 245, 0.541) 34%,
    rgba(255, 250, 245, 0.382) 47%,
    rgba(255, 250, 245, 0.278) 56.5%,
    rgba(255, 250, 245, 0.194) 65%,
    rgba(255, 250, 245, 0.126) 73%,
    rgba(255, 250, 245, 0.075) 80.2%,
    rgba(255, 250, 245, 0.042) 86.1%,
    rgba(255, 250, 245, 0.021) 91%,
    rgba(255, 250, 245, 0.008) 95.2%,
    rgba(255, 250, 245, 0.002) 98.2%,
    rgba(255, 250, 245, 0) 100%
  );
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  pointer-events: none !important;
}

.header.background-active .header-background {
  opacity: 1;
}

.header.background-active .header-logo img {
  -webkit-filter: none !important;
  filter: none !important;
}

.header .header-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  z-index: 10;
}

.header .header-container a {
  text-decoration: none;
}

.header-logo img {
  width: 10rem;
}

@media (max-width: 1023.98px) {
  .header-logo img {
    width: 9.5rem;
  }
} */

@media (max-width: 767.98px) {
  .header-logo {
    z-index: 200;
  }
}

body.home .header-logo img {
  -webkit-filter: invert(1) hue-rotate(-180deg) contrast(5);
  filter: invert(1) hue-rotate(-180deg) contrast(5);
}

body.home.menu-active .header-logo img {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-filter: none;
  filter: none;
}

.header.background-active .header-logo img {
  -webkit-filter: none !important;
  filter: none !important;
}

.header-menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.85rem;
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .header-menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fffaf5;
    top: 0;
    left: 100%;
    font-size: 1.85rem;
    font-weight: normal;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.16, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.16, 1);
    transition: transform 0.5s cubic-bezier(0.8, 0, 0.16, 1);
    transition: transform 0.5s cubic-bezier(0.8, 0, 0.16, 1),
      -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.16, 1);
    z-index: 100;
  }
}

.header-menu .menu-item {
  margin-left: 2.5rem;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 767.98px) {
  .header-menu .menu-item {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.header-menu .menu-item:not(.menu-item-no-underline):after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -0.25em;
  background-color: #ff490d;
  opacity: 1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 767.98px) {
  .header-menu .menu-item:not(.menu-item-no-underline):after {
    bottom: 0;
  }
}

.header-menu .menu-item .button {
  margin-top: 0;
}

@media (max-width: 767.98px) {
  .header-menu .menu-item .button {
    margin-top: 2rem;
    position: relative;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .header-menu .menu-item .button:after {
    content: "";
    width: 100%;
    height: 6rem;
    position: absolute;
    top: calc(100% + 3rem);
    left: 0;
    background-image: url(../images/line-3.svg);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header-menu .menu-item.is-active:after,
.header-menu .menu-item:hover:after {
  width: 100%;
  opacity: 1;
}

body.menu-active .header-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

body.menu-active .header-logo img {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-filter: none !important;
  filter: none !important;
}

body.menu-active .header-icon span:first-child {
  -webkit-transform: rotate(180deg) translateY(-0.25rem);
  transform: rotate(180deg) translateY(-0.25rem);
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

body.menu-active .header-icon span:first-child:after {
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

body.menu-active .header-icon span:last-child {
  -webkit-transform: rotate(180deg) translateY(calc(0.25em + 2px));
  transform: rotate(180deg) translateY(calc(0.25em + 2px));
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

body.menu-active .header-icon span:last-child:after {
  opacity: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

body.menu-active.is-animating .header-icon {
  pointer-events: none !important;
}

.header-icon {
  display: none;
}

@media (max-width: 767.98px) {
  .header-icon {
    display: -webkit-box;
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1.25rem;
    height: 0.75rem;
    width: 2rem;
    z-index: 200;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .header-icon:after {
    content: "";
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: -1rem;
    left: -0.5rem;
  }
}

.header-icon span {
  position: relative;
  border-radius: 2rem;
  width: 100%;
  height: 2px;
  background-color: #ff490d;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.97, -0.89, 0, 1.93);
  transition: -webkit-transform 0.35s cubic-bezier(0.97, -0.89, 0, 1.93);
  transition: transform 0.35s cubic-bezier(0.97, -0.89, 0, 1.93);
  transition: transform 0.35s cubic-bezier(0.97, -0.89, 0, 1.93),
    -webkit-transform 0.35s cubic-bezier(0.97, -0.89, 0, 1.93);
}

.header-icon span:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #ff490d;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.header-icon span:first-child:after {
  -webkit-transform-origin: left;
  transform-origin: left;
}

.header-icon span:last-child:after {
  -webkit-transform-origin: left;
  transform-origin: left;
}

.header-book-mobile {
  display: none;
}

body.privacy-policy .header-icon {
  display: none !important;
}

.acf-true-false label .message a {
  border-bottom: 1px dotted currentColor;
}

.footer {
  position: relative;
  background: #1d1d1d;
  color: #fffaf5;
  width: 100%;
  padding: 6rem 4rem 0 4rem;
}

.footer .text-title {
  white-space: nowrap;
}

.footer .footer-social {
  margin-top: 2rem;
  white-space: nowrap;
}

.footer .footer-social .fab {
  font-size: 0.95em;
}

.footer .footer-tfc {
  margin-top: 0;
}

.footer .footer-tfc .tfc-image {
  margin-top: 1rem;
  height: 2rem;
  display: inline-block;
}

@media (max-width: 767.98px) {
  .footer .footer-tfc .tfc-image {
    height: 2.25rem;
  }
}

.footer .footer-tfc .tfc-image img {
  height: 100%;
}

.footer .footer-tfc .tfc-image.right {
  margin-left: 1rem;
}

@media (max-width: 767.98px) {
  .footer {
    padding: 4rem 1rem 0 1rem;
  }
}

.footer .footer-container {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .footer .footer-container {
    max-width: 100%;
  }

  .footer .footer-container .col-25,
  .footer .footer-container .col-50 {
    width: 100%;
    margin-bottom: 3rem;
  }

  .footer .footer-container .footer-contact {
    margin-bottom: 2rem;
  }
}

.footer .acf-required {
  display: none !important;
}

.footer .acf-form {
  margin-top: 1rem;
}

.footer .mc-field-group {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer #mc_embed_signup,
.footer form {
  color: #fffaf5;
}

.footer #mc_embed_signup_scroll {
  position: relative;
}

.footer input[type="email"]#mce-EMAIL {
  width: 100%;
}

.footer input[type="email"]#mce-EMAIL.mce_inline_error {
  border-color: #ff490d !important;
}

.footer div.mce_inline_error {
  background-color: transparent !important;
  margin-top: 0.5rem !important;
  font-size: 0.85rem;
  color: #ff490d !important;
  padding: 0 !important;
}

.footer div#mce-success-response {
  background-color: transparent !important;
  margin-top: 0.5rem !important;
  font-size: 0.85rem;
  color: #fffaf5 !important;
  padding: 0 !important;
}

.footer .af-label {
  position: relative;
}

.footer .mc-field-group {
  position: relative;
  color: #fffaf5 !important;
}

.footer .af-submit {
  position: absolute;
  top: 1rem;
  right: 0;
  height: 2rem;
  text-align: left !important;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}

.footer .af-submit button.af-submit-button {
  margin-top: 0 !important;
  background: #ff490d !important;
  text-align: center !important;
  border-radius: 0.25rem !important;
  display: -webkit-box !important;
  display: flex !important;
  border: 0 !important;
  width: 2rem !important;
  font-family: "MP", sans-serif !important;
  color: #fffaf5 !important;
  font-weight: bold !important;
  height: 100% !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 0 !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.footer .acf-field.af-field {
  color: #fffaf5 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer-bottom {
  margin-top: 4rem;
  width: 100%;
  padding: 0.25rem 0 1rem;
  text-align: left;
  background: #1d1d1d;
  color: darkgrey;
  font-size: 0.85rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.footer-bottom .text-credits {
  width: 25%;
  margin-left: 2rem;
}

.footer-bottom .text-credits img {
  height: 1em;
  width: auto;
  vertical-align: text-bottom;
  display: none;
}

@media (max-width: 767.98px) {
  .footer-bottom {
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .footer-bottom .text-credits {
    width: 100%;
    -webkit-box-ordinal-group: 1;
    order: 0;
    margin-left: 0;
  }

  .footer-bottom .text-copyright {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

.footer-bottom .text-small {
  display: block;
}

.footer-contact,
.footer-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex-wrap: wrap;
  -webkit-box-align: top;
  align-items: top;
}

@media (max-width: 767.98px) {
  .footer-contact,
  .footer-links {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}

.footer-contact h1,
.footer-links h1 {
  width: 100%;
  visibility: hidden;
}

.footer-contact .footer-contact-col,
.footer-links .footer-contact-col {
  margin-left: 2rem;
}

@media (max-width: 767.98px) {
  .footer-contact .footer-contact-col,
  .footer-links .footer-contact-col {
    margin-left: 0;
  }
}

.footer-contact .footer-contact-item,
.footer-links .footer-contact-item {
  margin-bottom: 1em;
}

.footer-contact .footer-contact-item a,
.footer-links .footer-contact-item a {
  display: block;
}

.footer-contact .footer-contact-item.footer-contact-tel,
.footer-links .footer-contact-item.footer-contact-tel {
  margin-bottom: 0;
}

.footer-contact .footer-contact-item.footer-contact-privacy,
.footer-links .footer-contact-item.footer-contact-privacy {
  color: darkgrey;
}

.footer-contact .footer-contact-item.footer-contact-logo img,
.footer-links .footer-contact-item.footer-contact-logo img {
  width: auto;
  height: 1rem;
}

.link-arrow {
  position: relative;
  font-weight: bold;
}

.link-arrow.no-bold {
  font-weight: normal;
}

.link-arrow:after {
  content: "\f061";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  color: #ff490d;
  display: inline-block;
}

.block-hero-home .block-hero-container img {
  max-height: 60%;
}

#anims {
  position: fixed;
  top: 5rem;
  left: 5rem;
  z-index: 1000;
  display: none;
}

#model {
  height: 100%;
  width: 100%;
}

#tfc-popup {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #fff;
  color: #1d1d1d;
  padding: 1.5rem 1.5rem 1rem 1rem;
  border-radius: 0.5rem;
  z-index: 10;
  box-shadow: 0 24px 80px 0 rgba(84, 71, 61, 0.1),
    0 1px 4px 0 rgba(158, 137, 109, 0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.46, -0.34, 0.46, 1.35);
  transition: -webkit-transform 1s cubic-bezier(0.46, -0.34, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.46, -0.34, 0.46, 1.35);
  transition: transform 1s cubic-bezier(0.46, -0.34, 0.46, 1.35),
    -webkit-transform 1s cubic-bezier(0.46, -0.34, 0.46, 1.35);
  -webkit-transform: translateX(calc(100% + 2rem));
  transform: translateX(calc(100% + 2rem));
}

@media (max-width: 767.98px) {
  #tfc-popup {
    padding: 2rem 1rem 1.5rem 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    width: calc(100vw - 1rem);
    z-index: 1000;
  }
}

#tfc-popup.is-active {
  -webkit-transform: none;
  transform: none;
}

#tfc-popup .tfc-close {
  position: absolute;
  color: #ff490d !important;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

#tfc-popup .tfc-close:after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 0;
  left: -0.5rem;
}

#tfc-popup .tfc-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

#tfc-popup .tfc-container h2 {
  font-size: 0.85rem;
  font-weight: 600;
  padding-left: 1.5rem;
}

@media (max-width: 767.98px) {
  #tfc-popup .tfc-container h2 {
    padding-left: 1rem;
  }
}

#tfc-popup .tfc-container h2 a {
  font-weight: 800;
}

#tfc-popup .tfc-container .tfc-image {
  width: 5rem;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  #tfc-popup .tfc-container .tfc-image {
    margin: 0;
    width: 4.5rem;
  }
}

#tfc-popup .tfc-container .tfc-image img {
  width: 100%;
  height: auto;
}

.link-underline {
  display: inline;
  white-space: nowrap;
  border-bottom: 1px solid #ff490d;
}

input,
textarea,
select,
button {
  -webkit-appearance: none;
}

.af-fields.acf-fields.acf-form-fields .acf-field,
.af-fields.acf-fields.acf-form-fields .mc-field-group,
#mc_embed_signup .acf-field,
#mc_embed_signup .mc-field-group {
  border: 0 !important;
  padding: 1rem 0.5rem;
  margin-bottom: 0rem;
  color: #ff490d;
}

.af-fields.acf-fields.acf-form-fields .acf-field input,
.af-fields.acf-fields.acf-form-fields .acf-field textarea,
.af-fields.acf-fields.acf-form-fields .acf-field select,
.af-fields.acf-fields.acf-form-fields .mc-field-group input,
.af-fields.acf-fields.acf-form-fields .mc-field-group textarea,
.af-fields.acf-fields.acf-form-fields .mc-field-group select,
#mc_embed_signup .acf-field input,
#mc_embed_signup .acf-field textarea,
#mc_embed_signup .acf-field select,
#mc_embed_signup .mc-field-group input,
#mc_embed_signup .mc-field-group textarea,
#mc_embed_signup .mc-field-group select {
  font-family: "MP", sans-serif;
  background-color: transparent;
  border: 0 !important;
  border: 1px solid currentColor !important;
  border-radius: 0.25rem;
  color: currentColor;
  outline: 0 !important;
  outline-color: transparent !important;
  font-size: 0.85rem !important;
}

.af-fields.acf-fields.acf-form-fields .acf-field input:focus,
.af-fields.acf-fields.acf-form-fields .acf-field textarea:focus,
.af-fields.acf-fields.acf-form-fields .acf-field select:focus,
.af-fields.acf-fields.acf-form-fields .mc-field-group input:focus,
.af-fields.acf-fields.acf-form-fields .mc-field-group textarea:focus,
.af-fields.acf-fields.acf-form-fields .mc-field-group select:focus,
#mc_embed_signup .acf-field input:focus,
#mc_embed_signup .acf-field textarea:focus,
#mc_embed_signup .acf-field select:focus,
#mc_embed_signup .mc-field-group input:focus,
#mc_embed_signup .mc-field-group textarea:focus,
#mc_embed_signup .mc-field-group select:focus {
  padding-left: 0.5em;
}

.af-fields.acf-fields.acf-form-fields .acf-field input:focus + label,
.af-fields.acf-fields.acf-form-fields .acf-field textarea:focus + label,
.af-fields.acf-fields.acf-form-fields .acf-field select:focus + label,
.af-fields.acf-fields.acf-form-fields .mc-field-group input:focus + label,
.af-fields.acf-fields.acf-form-fields .mc-field-group textarea:focus + label,
.af-fields.acf-fields.acf-form-fields .mc-field-group select:focus + label,
#mc_embed_signup .acf-field input:focus + label,
#mc_embed_signup .acf-field textarea:focus + label,
#mc_embed_signup .acf-field select:focus + label,
#mc_embed_signup .mc-field-group input:focus + label,
#mc_embed_signup .mc-field-group textarea:focus + label,
#mc_embed_signup .mc-field-group select:focus + label {
  top: -0.5em;
}

.af-fields.acf-fields.acf-form-fields .acf-field select,
.af-fields.acf-fields.acf-form-fields .mc-field-group select,
#mc_embed_signup .acf-field select,
#mc_embed_signup .mc-field-group select {
  padding-left: 7px;
}

.af-fields.acf-fields.acf-form-fields .acf-field input:not([type="checkbox"]),
.af-fields.acf-fields.acf-form-fields .acf-field select,
.af-fields.acf-fields.acf-form-fields
  .mc-field-group
  input:not([type="checkbox"]),
.af-fields.acf-fields.acf-form-fields .mc-field-group select,
#mc_embed_signup .acf-field input:not([type="checkbox"]),
#mc_embed_signup .acf-field select,
#mc_embed_signup .mc-field-group input:not([type="checkbox"]),
#mc_embed_signup .mc-field-group select {
  height: 2rem;
}

.af-fields.acf-fields.acf-form-fields .acf-field textarea,
.af-fields.acf-fields.acf-form-fields .mc-field-group textarea,
#mc_embed_signup .acf-field textarea,
#mc_embed_signup .mc-field-group textarea {
  border: 1px solid currentColor;
  resize: none !important;
}

.af-fields.acf-fields.acf-form-fields .acf-field label,
.af-fields.acf-fields.acf-form-fields .mc-field-group label,
#mc_embed_signup .acf-field label,
#mc_embed_signup .mc-field-group label {
  font-size: 0.85rem;
  font-weight: 400 !important;
  color: currentColor !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}

.af-fields.acf-fields.acf-form-fields .acf-field .acf-label,
.af-fields.acf-fields.acf-form-fields .mc-field-group .acf-label,
#mc_embed_signup .acf-field .acf-label,
#mc_embed_signup .mc-field-group .acf-label {
  margin-bottom: 0;
}

.af-fields.acf-fields.acf-form-fields .acf-field .acf-label.is-focus label,
.af-fields.acf-fields.acf-form-fields .mc-field-group .acf-label.is-focus label,
#mc_embed_signup .acf-field .acf-label.is-focus label,
#mc_embed_signup .mc-field-group .acf-label.is-focus label {
  top: -1.5em !important;
}

.af-fields.acf-fields.acf-form-fields .af-field-type-true-false,
#mc_embed_signup .af-field-type-true-false {
  padding: 0.25rem 0.5rem !important;
}

.af-fields.acf-fields.acf-form-fields .af-field-type-true-false label,
#mc_embed_signup .af-field-type-true-false label {
  position: relative;
  top: unset;
  left: unset;
  -webkit-transition: unset;
  transition: unset;
  border: 0 !important;
}

.af-fields.acf-fields.acf-form-fields .af-submit,
#mc_embed_signup .af-submit {
  text-align: center !important;
}

.af-fields.acf-fields.acf-form-fields .af-submit .af-submit-button,
#mc_embed_signup .af-submit .af-submit-button {
  width: 100%;
  font-family: inherit;
  margin-top: 2rem;
  font-size: 1rem;
  border-color: transparent;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  color: #ff490d;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  outline: none !important;
  border: none !important;
  margin-right: 2px !important;
  display: inline-block;
  width: 0.85rem;
  height: 0.85rem;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: text-bottom;
  margin-left: 0;
  position: relative;
  padding-left: 0 !important;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:checked,
input[type="radio"]:hover,
input[type="radio"]:checked {
  color: currentColor;
}

input[type="checkbox"]:before,
input[type="radio"]:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f0c8";
  position: absolute;
  top: -1px;
  z-index: 0;
  background: white;
  border: 0 !important;
  line-height: initial;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  outline: 2px solid white;
  padding-left: 1px;
}

@media (max-width: 767.98px) {
  input[type="checkbox"]:before,
  input[type="radio"]:before {
    top: -4px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
  }
}

@media (min-width: 1560px) {
  input[type="checkbox"]:before,
  input[type="radio"]:before {
    top: -3px;
  }
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  content: "\f00c";
}

input[type="radio"]:before {
  content: "\f111" !important;
}

input[type="radio"]:checked:before {
  content: "\f00c" !important;
}

.ui-datepicker-buttonpane.ui-widget-content {
  display: none !important;
}

.acf-ui-datepicker .ui-state-default,
.acf-ui-datepicker .ui-widget-content .ui-state-default,
.acf-ui-datepicker .ui-widget-header .ui-state-default {
  border-color: white !important;
  background: white !important;
  font-weight: normal;
  border-radius: 0.25rem !important;
  color: #1d1d1d !important;
  border-color: transparent !important;
  text-align: center !important;
  font: inherit !important;
}

.acf-ui-datepicker .ui-state-default.ui-state-highlight,
.acf-ui-datepicker .ui-widget-content .ui-state-default.ui-state-highlight,
.acf-ui-datepicker .ui-widget-header .ui-state-default.ui-state-highlight {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #1d1d1d !important;
}

.acf-ui-datepicker .ui-state-default.ui-state-hover,
.acf-ui-datepicker .ui-widget-content .ui-state-default.ui-state-hover,
.acf-ui-datepicker .ui-widget-header .ui-state-default.ui-state-hover {
  background-color: rgba(29, 29, 29, 0.05) !important;
}

.acf-ui-datepicker .ui-state-default.ui-state-active,
.acf-ui-datepicker .ui-widget-content .ui-state-default.ui-state-active,
.acf-ui-datepicker .ui-widget-header .ui-state-default.ui-state-active {
  border: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 1px dotted #ff490d !important;
  border-color: #ff490d !important;
  color: #1d1d1d !important;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  border: 0 !important;
  background: transparent !important;
  color: #1d1d1d !important;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
  display: none !important;
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  color: #ff490d !important;
}

.ui-datepicker-next {
  text-align: right;
}

.ui-timepicker-oneLine dl {
  text-align: center !important;
}

/* .ui-timepicker-oneLine .ui-datepicker-title,
.ui-timepicker-oneLine .ui_tpicker_time_label,
.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-oneLine .ui_tpicker_second_label,
.ui-timepicker-oneLine .ui_tpicker_second {
  display: none !important;
} */
